body {
    text-align: center;
    margin-top: 40px;
}

.container {
    display: flex;
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    width: 250px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.grid div {
    height: 25px;
    width: 25px;
    outline: 1px darkgray solid;
}
.grid .takend {
    outline: 0px;
}

.tetromino {
    background-color: chartreuse;
}

.container h3 {
    margin-left: 30px;
}

.mini-grid {
    margin-left: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.mini-grid div {
    height: 25px;
    width: 25px;
    outline: 1px darkgray solid;
}

button {
    margin-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}